body {
    margin: 0;
    font-family: "Segoe UI", system-ui, sans-serif;
    background: linear-gradient(135deg, #0b1320, #1f3248, #0b1320);
    color: #ffffff;
}

header {
    padding: 26px;
    text-align: center;
    background: linear-gradient(90deg, #0f2537, #163d56);
}

header h1 {
    margin: 0;
    font-size: 34px;
    font-weight: 700;
}

.container {
    max-width: 1600px;
    margin: 40px auto;
    padding: 50px;
    border-radius: 22px;
    background: #22364d;
}

.file-name {
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.card {
    background: #1a2a3d;
    border-radius: 18px;
    padding: 30px;
    text-align: center;
}

.card h3 {
    margin: 0;
    font-size: 15px;
    color: #cdd9e5;
}

.card p {
    margin-top: 16px;
    font-size: 30px;
    font-weight: 700;
}

.attack {
    color: #ff6b6b;
}

.safe {
    color: #2ecc71;
}

.verdict {
    padding: 8px 18px;
    border-radius: 20px;
}

.attack-bg {
    background: #ff4d4d;
}

.safe-bg {
    background: #2ecc71;
}

/* BOXES */
.box {
    margin-top: 35px;
    background: #162432;
    padding: 30px;
    border-radius: 18px;
}

.box h2 {
    margin-top: 0;
    color: #00c6ff;
}

.highlight {
    border-left: 6px solid #00c6ff;
}

/* RISK BAR */
.risk-bar {
    height: 22px;
    background: #0f2537;
    border-radius: 30px;
    overflow: hidden;
}

.risk-fill {
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-align: right;
    padding-right: 12px;
    line-height: 22px;
}

.risk-fill.HIGH {
    width: 90%;
    background: #ff4d4d;
}

.risk-fill.MEDIUM {
    width: 60%;
    background: #ffa502;
}

.risk-fill.LOW {
    width: 25%;
    background: #2ecc71;
}

/* CHARTS */
.charts {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 40px;
    margin-top: 40px;
}

.chart-box {
    background: #162432;
    border-radius: 18px;
    padding: 30px;
}

canvas {
    width: 100% !important;
    height: 360px !important;
}

/* BUTTONS */
.btn {
    display: block;
    margin: 25px auto 0;
    padding: 18px 48px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.pdf-btn {
    background: linear-gradient(135deg, #6c5ce7, #341f97);
}

.back-btn {
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}